@model List<Vidly2.Models.Customer>


<h2>Index</h2>
@Html.ActionLink("New Customer", "CustomerForm", "Customer", new { @class = "btn btn-primary" })
<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <td>Name</td>
            <td>MembershipType</td>
            <td>Delete</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Edit", "Customer", new { id = customer.Id }, customer.Id)
                </td>
                <td>
                    @customer.MembershipType.Name

                </td>
                <td>
                    <button class="btn-link">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
