@model List<Vidly2.Models.Customer>


<h2>Index</h2>
@Html.ActionLink("New Customer", "CustomerForm", "Customer", new { @class = "btn btn-primary" })
<table id="customers" class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <td>Name</td>
            <td>MembershipType</td>
            <td>Delete</td>
        </tr>
    </thead>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#customers').DataTable({
                ajax: {
                    url: "api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, customer) {
                            return "<a href='customers/edit/" + customer.Id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data: "MembershipType.Name"
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-target=" + data + ">Delete</button>"
                        }
                    }
                ]
            });
            $('#customers').on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "api/Customers/" + button.attr("data-target"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}